<template name="editReport">
    <div id="page-wrapper">
        <!-- Page Header -->
        <div class="col-lg-12">
            <h1 class="page-header">Záznam</h1>
        </div>
        <!--End Page Header -->
        <div class="row">
            <div class="panel">
                {{>infoPanelAreaBody}}
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body green">
                    {{localizedDateAndTime date}} <br>
                    Celková pokryvnosť :
                    {{#if wantEditReport true}}
                        <form class="edit-report">
                            <input type="number" name="cover" value={{cover}} class="" min="0" max="100">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                        </form>
                    {{/if}}


                    {{#if dontWantEditReport true}}
                        {{cover}}
                    {{/if}}
                    {{#if canEdit true}}
                        <button type="button" class="btn btn-default editReport">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <br>
                    {{/if}}




                    {{#if isClosed 'false'}}
                        <button type="button" class="btn btn-default takePhoto">
                            <span class="glyphicon glyphicon-camera"></span>Fotografia
                        </button>


                        {{>finalButton}}

                    {{/if}}

                    {{>galeria}}

                </div>
            </div>
        </div>

        {{>tablePlants}}

    </div>
</template>


<template name="VDMcover">

    <input type="number" name="degree" min="1" max="9">
</template>

<template name="BBcover">
    <select name="degree">
        <option value="1"> r</option>
        <option value="2"> +</option>
        <option value="3"> 1</option>
        <option value="4"> 2m</option>
        <option value="5"> 2a</option>
        <option value="6"> 2b</option>
        <option value="7"> 3</option>
        <option value="8"> 4</option>
        <option value="9"> 5</option>
    </select>
</template>

